/* Body Tag Start */
body {
	font-family: 'Oxygen', sans-serif;
	background-color: #FFFFFF;
}
/* Body Tag End */

/* Navigation Bar Start */
li {
	margin-right: 46px;
}
.navbar-nav {
	margin: auto;
}
.navbar-brand {
	margin-right: 100px;
}
.nav-item > a {
	font-size: 22px;
}
.nav-item > a:hover {
	background-color: #d75a4a;
}
.nav-link {
	color: #ffffff !important;
}
.activePage {
	color: #d75a4a !important;
	font-weight: bolder;
}
.activePage:hover {
	background-color: transparent !important;
}
.donateButton {
	background-color: #d75a4a;
}
/* Navigation Bar End */

/* Heading Section Start */
.headerSection {
	position: relative;
	text-align: center;
	background-color: blue;
	width: auto;
	height: 320px;
}
.contactHeadingBackground {
	width: 100%;
	height: 320px;
}
.pageHeading {
	font-weight: bold;
	font-size: 70px;
	color: #FFFFFF;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/* Heading Section End */

/* Contact Us Section Start */
.formSection {
	background-color: #FFFFFF;
	padding-left: 50px;
	padding-right: 50px;
	margin-bottom: 50px;
}
.messageHeading {
	font-size: 40px;
	font-weight: bold;
	padding-top: 40px;
	padding-bottom: 30px;
}
.messageInfo {
	font-size: 22px;
	padding-bottom: 40px;
}
.form {
	border-radius: 5px;
	border: 1px solid #ABABAB;
	padding: 25px 40px;
}
#fname,
#lname,
#cnumber,
#email,
#gender,
#question1,
#question2,
#question3 {
	width: 100%;
	padding: 12px 20px;
	border: 1px solid #ABABAB;
	border-radius: 8px;
	box-sizing: border-box;
	margin-bottom: 20px;
}
#message {
	width: 100%;
	height: 100px;
	box-sizing: border-box;
	padding: 12px 20px;
	border: 1px solid #ABABAB;
	border-radius: 8px;
	margin-bottom: 20px;
}
.sendButton {
	text-align: center;
}
#submitButton {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	margin-top: 20px;
	border: none;
	cursor: pointer;
	height: 60px;
	width: 200px;
	border-radius: 50px;
	font-size: 20px;
	font-weight: bold;
}
#submitButton:hover {
	background-color: #45a049;
}
/* Contact Us Section End */

/* Social Plugins Section Start */
.socialPlugins {
	background-color: #dfe6e9;
	padding-top: 16px;
	padding-bottom: 16px;
}
.socialIconHolder {
	text-align: center;
}
.socialIcon {
	margin-right: 10px;
}
.socialIcon:hover {
	opacity: 0.7;
}
/* Social Plugins Section End */

/* Copyright Section Start */
.copyright {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #636e72;
	color: #FFFFFF;
	letter-spacing: 2px;
}
.copyrightHeading {
	font-size: 26px;
	letter-spacing: 2px;
	text-transform: uppercase;
}
/* Copyright Section End */
